.navBar{
    background-color: white;
    display:flex;
    justify-content: space-around;
    padding: 1.5em 0 1em 0;
    border-radius: 3px;
    box-shadow: 3px 1px 5px #888888;
}

.navSearchInput{
    height: 2em;
    width: 50%;
    margin: 1.5em 0 0 0;
    padding: 0;
    font-size: 15px;
    border: 1px solid #CCCCCC;
    
}


.navButton{
    margin: 0.5em 0 0 0;
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: rgb(38, 65, 91);
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}

.navButton:hover {
    background: white;
    color: rgb(38, 65, 91);
    text-decoration: none;
}