.navBar{
    background-color: grey;
    display:flex;
    justify-content: space-around;
}

.navSearchInput{
    height: 25px;
    width: 800px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    border: 1px solid #CCCCCC;
    
}


.navButton{
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #949494;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}

.navButton:hover{
    background: #000000;
    text-decoration: none;
}